:root {
  --radius: 8px;
  --gap: 20px;
  --font-color: #606060;
  --font-size: 1.1rem;
  --main-color: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: var(--font-size);
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    color: var(--font-color);
}

.library {
  height: 60vh;
  width: 50vw;
  box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
  border-radius: var(--radius);
}

@media only screen and (max-width: 600px) {
  .library {
    width: 80vw;
  }
}

dialog {
  border: none !important;
  border-radius: var(--radius);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  min-width: 20vw;
}

::backdrop {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  line-height: var(--gap);
  font-weight: 600;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  border-radius: var(--radius);
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: var(--main-color);
  color: #fff;              
}

#confirm-button, #close-button {
  padding: 7px 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  color: var(--font-color);
}

input {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-size: var(--font-size);
}



